* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.cantiner {
  border: 1px solid;
  min-width: 400px;
  min-height: 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "i i i" "c c c";
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 20px;
}
.item {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 30px;
  width: 200px;
  align-items: center;
  justify-content: space-evenly;
}
.cart {
  position: relative;
  grid-area: c;
  border: 0.5px solid;
  border-radius: 10px;
  overflow: hidden;
  min-height: 200px;
  min-width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 40px;
  grid-template-areas: "1000ml 500ml 250ml" "B B B";
  gap: 5px;
  padding: 10px;
}
.quantity {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 5px;
}
.ml1000 {
  grid-area: 1000ml;
  color: cadetblue;
}
.ml500 {
  grid-area: 500ml;
  color: bisque;
}
.ml250 {
  grid-area: 250ml;
  color: aqua;
}
.btn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: B;
}
.cart-item {
  border: 1px solid;
  border-radius: 10px;
  padding: 8px;
}
.success {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  color: green;
}
